
<script>
	console.log(items.content);
</script>

<div class="col-lg-8 post-list">
	
	<!-- Start single-post Area -->
	<div class="single-post-wrap">
	
		
		<div class="content-wrap">
			<h3>RSS Page</h3>
		</div>	

		<%= //JSON.stringify(feed) %> 
		<%-// items %> 
		
		<% items.forEach((item)=> { %>
            <div class="single-latest-post row align-items-center">
                <div class="col-lg-5 post-left">
                    <div class="feature-img relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="<%= //folder_uploads + item.avatar %>" alt="<%= item.title %>">
                    </div>
                </div>
                <div class="col-lg-7 post-right">
                    <a href="<%= item.link %>">
                        <h4><%= item.title %></h4>
                    </a>
                    <ul class="meta">
                        
                        <li>
                            <a href="#"><span class="lnr lnr-calendar-full"></span><%= item.pubDate %> </a>
                        </li>
                    </ul>
                    <p class="excert"><%- item.contentSnippet %> ...</p>
                </div>
            </div>
        <% }) %>
        

	</div>
</div>
