<% include ./../../helpers/format-summary %>
<%
    const folder_uploads = 'uploads/articles/';
    
%>


<div class="col-lg-8 col-md-8">
    <div class="content_bottom_left">
      <%= //JSON.stringify(itemArr)  %> 

        <div class="single_category wow fadeInDown">
          <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">Latest News</a> </h2>
          
          <div id="box-cate1" data-url="category/<%= itemsCategory[0].id %>/json">
            <div class="business_category_left wow fadeInDown">

              <ul class="fashion_catgnav">
                <li>
                  <div class="catgimg2_container"> <a href="/article/<%= itemsNews[0].id %>"><img src="<%= folder_uploads + itemsNews[0].avatar %>" alt="<%= itemsNews[0].name %>"></a> </div>
                  <h2 class="catg_titile"><a href="/article/<%= itemsNews[0].id%>"> <%= itemsNews[0].name%></a></h2>
                  <div class="comments_box">
                    <span class="meta_date"><%= moment(itemsNews[0].created.time).format(systemConfig.format_date) %></span> 
                    <span class="meta_more"><a  href="/category/<%= itemsNews[0].group.id %>"><%= itemsNews[0].group.name%></a></span> </div>
                  <p><%= formatSummary(itemsNews[0].content)%></p>
                </li>
              </ul>
            </div>

            <div class="business_category_right wow fadeInDown">
              <ul class="small_catg">
                <% for(let i = 1; i < itemsSpecial.length; i++){ %>
                  <li>
                    <div class="media wow fadeInDown"> <a class="media-left"  href="/article/<%= itemsNews[i].id %>">
                      <img src="<%= folder_uploads + itemsNews[i].avatar %>" alt="<%= itemsNews[i].name %>"></a>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="/article/<%= itemsNews[i].id %>"><%= itemsNews[i].name%> </a></h4>
                        <div class="comments_box">
                          <span class="meta_date"><%= moment(itemsNews[i].created.time).format(systemConfig.format_date) %></span>
                          <span class="meta_more"><a  href="/category/<%= itemsNews[i].group.id %>"><%= itemsNews[i].group.name%></a></span>
                          </div>
                      </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
          
        </div>
      
    </div>
  </div>

<h2>KHÔNG CÓ DỮ LIỆU</h2>

<!-- link = systemConfig  -->

  <!-- <div class="col-lg-8 col-md-8">
    <div class="content_bottom_left">
      <%= //JSON.stringify(itemArr)  %> 

      <% //itemsCategory.forEach((category)=>{ %>
        <div class="single_category wow fadeInDown">
          <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="/category/<%= //category.id %>"><%= //category.name %></a> </h2>
          
          <% //if( == category.id){ %>
            
          <%// } %>
          <div id="" class="business_category_left wow fadeInDown box-large" data-url="<%-//link%>/category/<%= //category.id %>/json">
            
          </div>

          <div class="business_category_right wow fadeInDown boxSmall">
            <ul class="small_catg">
              <li>
                <div class="media wow fadeInDown"> <a class="media-left" href="pages/single.html"><img src="images/112x112.jpg" alt=""></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="pages/single.html">Duis condimentum nunc pretium lobortis </a></h4>
                    <div class="comments_box"> <span class="meta_date">14/12/2045</span> <span class="meta_comment"><a href="#">No Comments</a></span> </div>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      <%//}) %>
    </div>
  </div> -->