<% include ./../../helpers/filter-status %>
<% include ./../../helpers/action %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/status %>
<% include ./../../helpers/highlight %>
<% 
	const collection = "items";
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
	
%>

<%- locals.flash %>
<div class="row" style="margin-left: 0px;">
	<div class="col-lg-12">
		<div class="card card-info card-outline">
			<div class="card-header">
				Search & Filter
				<!--status all-->
				<a href="<%= linkPrefix %>status/all">
					<span id="icon-reload" class="fas fa-sync"></span>
				</a>
			</div>

			<div class="card-body">
				<div class="row justify-content-between">
					<!--status filter-->
					<div class="status-list col-sm-6 pl0">
						<%- filterStatusHelper(collection, statusFilter, keyword) %>	 
					</div>
					<div class="col-sm-6">
						<!--get status for search-->
						<form action="<%= linkPrefix %>status/<%= currentStatus %>" method="GET">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" placeholder="Search for..." value="<%= keyword %>">
								<span class="input-group-btn">
									<button class="btn btn-info" type="submit">Search</button>
								</span>
								<!--clear-->
								<span class="input-group-btn">
									<a class="btn btn-success" type="button" href="<%= linkPrefix %>status/<%= currentStatus %>">Clear</a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="card card-info card-outline">
			<div class="card-header">List Items</div>
			<div class="card-body">
				<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
					<%- actionHelper(collection) %>
					<div class="table-responsive">
						<table class="table table-bordered table-hover text-nowrap btn-table mb-0">
							<thead>
								<tr class="text-center">
									<th><input type="checkbox" class="cbAll custom-control custom-checkbox" style="display: inline;" /></th>
									<th>#</th>
									<th>Name</th>
									<th>Status</th>
									<th>Ordering</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% items.forEach( (item, index) => { %>
									<tr>
										<td class="text-center"><input type="checkbox" name="cid" value="<%= item.id %>" /></td>
										<td class="text-center"><%= index+1 %></td>
										<td class="text-center"><%- highlightHelper(item.name, keyword) %></td>
										<td class="text-center"><%- statusHelper(collection, item.status, item.id) %></td>
										<td class="text-center"><input type="number" value="<%= item.ordering %>" class="text-center ordering"></td>
										<td class="text-center">
											<a href="<%= linkPrefix %>form/<%= item.id %>" type="button" class="rounded-circle btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i></a>
											<a href="<%= linkPrefix %>delete/<%= item.id %>" type="button" class="rounded-circle btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
										</td>
									</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<%- paginationHelper(pagination, collection, currentStatus, keyword) %>
	</div>
</div>