<% include ./../helpers/format-date %>
<% include ./../helpers/format-summary %>
<%
    const folder_uploads = 'uploads/articles/';
%>


<div class="col-lg-4 col-md-4">
    <div class="content_bottom_right">
        <!-- recent  -->
      <div class="single_bottom_rightbar">
        <h2>Popular</h2>
        <ul class="small_catg popular_catg wow fadeInDown">
          <% for(let i = 0; i < itemsSpecial.length; i++){ %>
          <li>
            <div class="media wow fadeInDown"> <a  href="/article/<%= itemsSpecial[i]._id %>" class="media-left"><img src="<%= folder_uploads + itemsSpecial[i].avatar %>" alt="<%= itemsSpecial[i].name %>"> </a>
              <div class="media-body">
                <h4 class="media-heading media-tablet"><a  href="/article/<%= itemsSpecial[i]._id %>" ><%= itemsSpecial[i].name %> </a></h4>
                <p></p>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      
      <div class="single_bottom_rightbar">
        <h2>Random Post</h2>
        <ul class="small_catg popular_catg wow fadeInDown">
          <% for(let i = 0; i < itemsRandom.length; i++){ %>
          <li>
            <div class="media wow fadeInDown"> <a  href="/article/<%= itemsRandom[i]._id %>" class="media-left"><img src="<%= folder_uploads + itemsRandom[i].avatar %>" alt="<%= itemsRandom[i].name %>"> </a>
              <div class="media-body">
                <h4 class="media-heading media-tablet"><a  href="/article/<%= itemsRandom[i]._id %>" ><%= itemsRandom[i].name %> </a></h4>
                <p></p>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      
    <!-- banner -->
      
      <div class="single_bottom_rightbar wow fadeInDown header_bottom_right">
        <h2></h2>
        <a href="#">
          <img style="
          float: right;
          width: 60%;
          margin-right: 18%;
          margin-top: 20px;" src="magexpress/images/re7.png" alt="">
        </a>
      </div>
    </div>
  </div>