<% include ./../../helpers/format-date %> 
<% include ./../../helpers/format-summary %>
<% const folder_uploads = 'uploads/products/'; %>


    
    <!-- Popular Products -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- SHOP DETAIL -->
        <div class="shop-detail">
          <div class="row"> 
            
            <!-- Popular Images Slider -->
            <div class="col-md-7"> 	
              
              <!-- Place somewhere in the <body> of your page -->
              <div id="slider-shop" class="flexslider">
                <ul class="slides">
                  <li> <img class="img-responsive" src="<%= folder_uploads + itemArticle.avatar %>" alt="<%= itemArticle.name %>"> </li>
                  <li> <img class="img-responsive" src="<%= folder_uploads + itemArticle.avatar %>" alt="<%= itemArticle.name %>"> </li>
                  <li> <img class="img-responsive" src="<%= folder_uploads + itemArticle.avatar %>" alt="<%= itemArticle.name %>"> </li>
                </ul>
              </div>
              <div id="shop-thumb" class="flexslider">
                <ul class="slides">
                  <li> <img class="img-responsive" src="<%= folder_uploads + itemArticle.avatar %>" alt="<%= itemArticle.name %>"> </li>
                  <li> <img class="img-responsive" src="<%= folder_uploads + itemArticle.avatar %>" alt="<%= itemArticle.name %>"> </li>
                  <li> <img class="img-responsive" src="<%= folder_uploads + itemArticle.avatar %>" alt="<%= itemArticle.name %>"> </li>
                </ul>
              </div>
            </div>
            
            <!-- COntent -->
            <div class="col-md-5">
              <h4><%= itemArticle.name %></h4>
              <span class="price"><small>đ</small><%= itemArticle.price %></span> 
              
              <!-- Sale Tags -->
              <div class="on-sale"> 10% <span>OFF</span> </div>
              <ul class="item-owner">
                <li>Designer :<span> <%= itemArticle.created.user_name %> </span></li>
                <li>Brand:<span> <%= itemArticle.group.name %> </span></li>
              </ul>
              
              <!-- Item Detail -->
              <p>Item detail? </p>
              
              <!-- Short By -->
              <div class="some-info">
                <ul class="row margin-top-30">
                  <li class="col-xs-4">
                    <div class="quinty"> 
                      <!-- QTY -->
                      <select class="selectpicker">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </div>
                  </li>
                  
                  <!-- COLORS -->
                  <li class="col-xs-8">
                    <ul class="colors-shop">
                      <li><span class="margin-right-20">Colors</span></li>
                      <li><a href="#." style="background:#958170;"></a></li>
                      <li><a href="#." style="background:#c9a688;"></a></li>
                      <li><a href="#." style="background:#c9c288;"></a></li>
                      
                    </ul>
                  </li>
                  
                  <!-- ADD TO CART -->
                  <li class="col-xs-6"> <a href="#." class="btn">ADD TO CART</a> </li>
                  
                  <!-- LIKE -->
                  <li class="col-xs-6"> <a href="#." class="like-us"><i class="icon-heart"></i></a> </li>
                </ul>
                
                <!-- INFOMATION -->
                <div class="inner-info">
                  <h6>DELIVERY INFORMATION</h6>
                  <p> about delivery? </p>
                  <h6>SHARE THIS PRODUCT</h6>
                  
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                    <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                    <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= PRODUCT DESCRIPTION =========-->
        <div class="item-decribe"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
            <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">DESCRIPTION</a></li>
            <li role="presentation"><a href="#review" role="tab" data-toggle="tab">REVIEW (03)</a></li>
            
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade in active" id="descr">
              <p> <%- itemArticle.content %> </p>
              
			  <h6>End here</h6>
            </div>
            
            <!-- REVIEW -->
            <div role="tabpanel" class="tab-pane fade" id="review">
              <h6>3 REVIEWS FOR SHIP YOUR IDEA</h6>
              
              <!-- REVIEW PEOPLE 1 -->
              <div class="media">
                <div class="media-left"> 
                  <!--  Image -->
                  <div class="avatar"> <a href="#"> <img class="media-object" src="images/avatar-1.jpg" alt=""> </a> </div>
                </div>
                <!--  Details -->
                <div class="media-body">
                  <p class="font-playfair">“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.”</p>
                  <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
                </div>
              </div>
              
              <!-- REVIEW PEOPLE 1 -->
              
              <div class="media">
                <div class="media-left"> 
                  <!--  Image -->
                  <div class="avatar"> <a href="#"> <img class="media-object" src="images/avatar-2.jpg" alt=""> </a> </div>
                </div>
                <!--  Details -->
                <div class="media-body">
                  <p class="font-playfair">“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.”</p>
                  <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
                </div>
              </div>
              
              <!-- ADD REVIEW -->
              <h6 class="margin-t-40">ADD REVIEW</h6>
              <form>
                <ul class="row">
                  <li class="col-sm-6">
                    <label> *NAME
                      <input type="text" value="" placeholder="">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label> *EMAIL
                      <input type="email" value="" placeholder="">
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <label> *YOUR REVIEW
                      <textarea></textarea>
                    </label>
                  </li>
                  <li class="col-sm-6"> 
                    <!-- Rating Stars -->
                    <div class="stars"> <span>YOUR RATING</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </li>
                  <li class="col-sm-6">
                    <button type="submit" class="btn btn-dark btn-small pull-right no-margin">POST REVIEW</button>
                  </li>
                </ul>
              </form>
            </div>
            
           
          </div>
        </div>
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>YOU MAY LIKE IT</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
        
        <!-- Popular Item Slide -->
        <div class="papular-block block-slide"> 
          
			<% for(let i = 0; i < itemsOthers.length; i++){ %>
          <!-- Item -->
          <div class="item"> 
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="<%= folder_uploads + itemsOthers[i].avatar %>" alt="<%= itemsOthers[i].name %>" > <img class="img-2" src="<%= folder_uploads + itemsOthers[i].avatar %>" alt="<%= itemsOthers[i].name %>" > 
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="sales/product/<%= itemsOthers[i]._id %>" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="sales/product/<%= itemsOthers[i]._id %>"><%= itemsOthers[i].name %></a>
              <p><%- formatSummary(itemsOthers[i].content) %> ...</p>
            </div>
            <!-- Price --> 
            <span class="price"><small>đ</small><%= itemsOthers[i].price %></span> </div>
          
			<% } %>
      </div>
    </section>
    
  
    
    
   
  
